# Dependencies
node_modules/

# Production build output
dist/

# Environment variables & secrets
.env
.env.local
.env.*.local

# Logs and temporary files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.local

# Scratch and temp files
.tempmediaStorage/
scratch/
.vite/

